.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-gap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.section-title {
  margin-bottom: 30px;
  @include font(28, 1.18);
  text-align: center;
  color: var(--tittle-text-color);
  @include desktop {
    @include font(36, 1.17);
    margin-bottom: 50px;
  }
}
