:root {
  --most-text-color: #757575;
  --tittle-text-color: #212121;
  --logo-color: #000000;
  --secondary-link-color: #2196f3;
  --bcgnd-hero-color: #2f303a;
  --main-hero-color: #ffffff;
  --bcgnd-team-color: #f5f4fa;
  --bcgnd-color: #ffffff;
  --logo-footer-color: #ffffff;
  --filter-secondary-color: #f5f4fa;
  --filter-border-color: #eeeeee;
  --svg-main-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time-delay: 250ms;
}
